@import '../../../styles/vars.scss';


@mixin colorful($imageColor, $color) {
   
    border: 3px solid $color;
    background-image: url('/logo_#{$imageColor}.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    padding: 3px;
    width: 84px;
    height: 84px;
    cursor: pointer;
    &:hover, .hover
    {
        background-image: url('/logo_white.svg');
        background-color: $color;
    }
}
@mixin hoverClass($color) {
    
    background-image: url('/logo_white.svg') !important;
    background-color: $color;
}
.hover_crimson
{
  @include hoverClass($medium_crimson);
}
.hover_pink
{
  @include hoverClass($medium_pink);
}
.hover_turquoise
{
  @include hoverClass($light_turquiose);
}
.hover_yellow
{
  @include hoverClass($medium_yellow);
}

.buttonTruth_crimson
{
  @include colorful(crimson, $medium_crimson);
}
.buttonTruth_pink
{
  @include colorful(pink, $medium_pink);
}
.buttonTruth_turquoise
{
  @include colorful(turquoise, $light_turquiose);
}
.buttonTruth_yellow
{
  @include colorful(yellow, $medium_yellow);
}