@import '../../../styles/vars';
@import '../common.module.scss';

@mixin colorful($color)
{
    display: grid;
    grid-auto-flow: row;
    grid-column: 1 / 11;
    grid-row: 2 / 7;
    color: $color;

    & > h1
    {
        align-self: center;
    }
    & > p
    {
        align-self: center;
    }
}
.content_crimson
{
    @include colorful($medium_crimson);
}
.content_yellow
{
    @include colorful($medium_yellow);
}
.content_pink
{
    @include colorful($medium_pink);
}
.content_turquoise
{
    @include colorful($light_turquiose);
}
.slider
{
    grid-column: 4 / 9;
    grid-row: 8 / 12;
}