@font-face
{
  font-family: 'ValueSansPro-Black';
  src: local('ValueSansPro-Black'), url('../public/fonts/ValueSansPro-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'ValueSansPro-BlackItalic';
  src: local('ValueSansPro-BlackItalic'), url('../public/fonts/ValueSansPro-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'ValueSansPro-Bold';
  src: local('ValueSansPro-Bold'), url('../public/fonts/ValueSansPro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'ValueSansPro-BoldItalic';
  src: local('ValueSansPro-BoldItalic'), url('../public/fonts/ValueSansPro-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'ValueSansPro-Italic';
  src: local('ValueSansPro-Italic'), url('../public/fonts/ValueSansPro-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'ValueSansPro-Medium';
  src: local('ValueSansPro-Medium'), url('../public/fonts/ValueSansPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'ValueSansPro-MediumItalic';
  src: local('ValueSansPro-MediumItalic'), url('../public/fonts/ValueSansPro-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: 'ValueSansPro-Regular';
  src: local('ValueSansPro-Regular'), url('../public/fonts/ValueSansPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body,
main {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1
{
  font-family: 'ValueSansPro-Black';
  font-size: 72px;
  height: 65px !important;
  margin: 0;
}
ul, ol
{
  padding: 0;
}
p, li
{
  font-family: 'ValueSansPro-Regular';
  font-size: 24px;
  height: auto;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ol > li
{
  list-style: none;
}
* {
  box-sizing: border-box;
}
.grid
{
    width: 100%;
    display: grid;
    height: 100vh;
    overflow: hidden;
}
/* xs - устройства (до 576px) */
@media (max-width: 576px) {
/* CSS для ширины, которая меньше 575px (включительно) */

    .grid
    {
        grid-template-columns: repeat(2, 174px);
        grid-template-rows: repeat(2, 174px);
        padding-left: 15px;
        padding-right: 15px;
        grid-column-gap: 30px;
        padding-top: 10px;
    }
}

/* sm-устройства (больше или равно 576px) */
@media (min-width: 576px) {
    /* CSS для: 576px <= ширины <= 767px */

    .grid
    {
        grid-template-columns: repeat(6, 60px);
        grid-template-rows: repeat(6, 60px);
        padding-left: 33px;
        padding-right: 33px;
        grid-column-gap: 30px;
        padding-top: 10px;
    }
}
  
  /* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
    /* CSS для: 768px <= ширины <= 991px */

    .grid
    {
        grid-template-columns: repeat(12, 30px);
        grid-template-rows: repeat(12, 30px);
        padding-left: 39px;
        padding-right: 39px;
        grid-column-gap: 30px;
        padding-top: 10px;
    }
}
  
  /* lg-устройства (больше или равно 992px) */
@media (min-width: 992px) {
    /* CSS для: 992px <= ширины <= 1119px */
    .grid
    {
        grid-template-columns: repeat(8, 50px);
        grid-template-rows: repeat(8, 50px);
        padding-left: 94px;
        padding-right: 94px;
        grid-column-gap: 30px;
        padding-top: 10px;
    }

}
  
  /* xl-устройства (больше или равно 1200px) */
@media (min-width: 1200px) {
    
    .grid
    {
        grid-template-columns: repeat(12, 65px);
        grid-template-rows: repeat(12, 65px);
        padding-left: 100px;
        padding-right: 100px;
        grid-column-gap: 30px;
        padding-top: 10px;
    }
}
