//brown
$light_brown: #E3B5A4;
$brown: #773344;
$medium_brown: #934A5C;
//turquoise
$light_turquoise: #9CFFFA;
//pink
$pink: #E05881;
//crimson
$crimson: #E35A57;
//yellow
$light_yellow: #FFF587;
//white
$white: #fff;
