//brown
$light_brown: #E3B5A4;
$brown: #773344;
$medium_brown: #934A5C;
//turquoise
$light_turquoise: #9CFFFA;
//pink
$medium_pink: #E05881;
$pink: #DE3266;
$light_pink: #EF769A;
//crimson
$medium_crimson: #E35A57;
$crimson: #D43434;
$light_crimson: #F37D7B;
//yellow
$light_yellow: #FFFBCE;
$yellow: #F5E535;
$medium_yellow: #FFF587;
//white
$white: #fff;
