@import '../../styles/vars.scss';

@mixin colorful($color, $contentColor: $white)
{
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    // display: block;
    transition: opacity 0.5s ease;
    z-index: 100;

    & > .content
    {
        width: 100%;
        height: 50vh;
        display: grid;
        justify-items: center;
        align-items: center;
        background-color: $color;
        border-radius: 12px 12px 0 0;
        position: fixed;
        z-index: 101;
        bottom: 0vh;
        animation: contentTop 0.5s linear;
        color: $contentColor;
    }

    @include cross(116.81px, 12.3px, $contentColor);
    
}
.overlay_brown
{
    @include colorful($brown)
}
.overlay_crimson
{
    @include colorful($medium_crimson)
}
.overlay_pink
{
    @include colorful($medium_pink)
}
.overlay_yellow
{
    @include colorful($medium_yellow, $medium_crimson)
}
.overlay_turquoise
{
    @include colorful($medium_turquoise)
}
.overlay_none
{
    opacity: 0;
    // display: none;
}

@keyframes contentTop {
    
    0%
    {
        bottom: -50vh;
    }
    50%
    {
        bottom: -25vh;
    }
    100%
    {
        bottom: 0vh;
    }
}