@import '../../styles/vars.scss';


.cta_crimson
{
    transform: rotate(0deg);
    grid-column: 10 / 10;
    grid-row: 10 / 10;
    display: grid;
    grid-auto-flow: row;
    position: relative;
    z-index: 4;
    color: $medium_crimson;
    
    & > p
    {
        transform: rotate(-25deg);
        width: 295px;
        position: relative;
        right: 40%;
        background-color: $light_yellow;
    }
}