@import '../../styles/vars.scss';

.wrap
{
    background-color: $light_brown;
    & path
    {
        fill: #F6F8F9 !important;
        stroke: #F6F8F9 !important;
    }
    & *
    {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}
.links
{
    display: grid;
    grid-auto-flow: row;
    grid-column: 11 / 12;
    align-self: center;
    row-gap: 9px;

    & > .circle
    {
        width: 34px;
        height: 34px;
        background-color: $brown;
        border-radius: 30px;
        cursor: pointer;
    }
    & > .loupe
    {
        position: relative;
        top: 40%;
    }
}