@import '../styles/vars.scss';

@mixin colorfulPage($color) {
    
  
        background-color: $color;
        
        & img, & object
        {
            -webkit-user-drag: none;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
       

    
}

@mixin colorfulLinks($color, $row)
{
    
    display: grid;
    grid-auto-flow: row;
    grid-column: 12 / 12;
    grid-row: 6 / 8;
    align-self: center;
    row-gap: 9px;

   
    & > a:nth-child(2)
    {
        @if $row - 1 == 1
        {
           position: relative;
           top: 65%;
        }
        @else if $row - 2 < 1
        {
            
        }@else
        {
            position: relative;
            top: 65%;
            grid-row: 2 / 2;
        }

    }
    & > a:nth-child(3)
    {
        @if $row - 2 == 1
        {
           position: relative;
           top: 68%;
        }@else if $row - 2 < 1
        {

        }
        @else
        {
            position: relative;
            top: 65%;
            grid-row: 3 / 3;
        }
    }
    & > a:nth-child(4)
    {
        @if $row - 3 == 1
        {
           position: relative;
           top: 68%;
        }@else if $row - 3 < 1
        {

        }
        @else
        {
            position: relative;
            top: 65%;
            grid-row: 4 / 4;
        }
    }
    & > a:nth-child(5)
    {
        @if $row - 4 == 1
        {
           position: relative;
           top: 68%;
        }@else if $row - 4 < 1
        {

        }
        @else
        {
            position: relative;
            top: 65%;
            grid-row: 5 / 5;
        }
    }

    & > .circle
    {
        width: 34px;
        height: 34px;
        background-color: $color;
        border-radius: 30px;
        cursor: pointer;
    }
    & > .loupe
    {
        position: relative;
        top: 40%;
        grid-row: #{$row} / #{$row};
    }
    
}
.networks
{
    grid-column: 12 / 12;
    grid-row: 9 / 10;
    justify-self: start;
    justify-items: center;
    align-items: end;
}
.buttonTruth
{
    grid-column: 12 / 12;
    grid-row: 12 / 12;
    right: 40%;
    position: relative;
    justify-content: end;
}
.wrap_brown
{
    @include colorfulPage($light_brown);
}
.links_brown
{
    @include colorfulLinks($brown, 1);
}
.wrap_yellow
{
    @include colorfulPage($medium_yellow);
}
.links_yellow
{
    @include colorfulLinks($medium_crimson, 2);
}
.wrap_turquoise
{
    @include colorfulPage($medium_turquoise);
}
.links_turquoise
{
    @include colorfulLinks($medium_pink, 3);
}
.wrap_crimson
{
    @include colorfulPage($medium_crimson);
}
.links_crimson
{
    @include colorfulLinks($medium_yellow, 4);
}
.wrap_pink
{
    @include colorfulPage($medium_pink);
}
.links_pink
{
    @include colorfulLinks($light_turquiose, 5);
}