@import '../../../styles/vars';


@mixin colorful($color) {
    
    .squircle
    {
        width: 54px;
        height: 60px;
        border: 3px solid $color;
        border-radius: 12px;
        background: transparent;
        display: grid;
        align-items: center;
        justify-items: center;
        
      
    }
}

.wrap_brown, .wrap_crimson, .wrap_pink, .wrap_turquoise, .wrap_yellow
{
    & *
    {
        cursor: pointer !important;
    }

    position: relative;
    z-index: 5;
}
.wrap_brown
{
    @include colorful($brown);
}
.wrap_crimson
{
    @include colorful($medium_crimson);
}
.wrap_pink
{
    @include colorful($medium_pink);
}
.wrap_turquoise
{
    @include colorful($medium_turquoise);
}
.wrap_yellow
{
    @include colorful($medium_yellow);
}